header.page > nav {
  background: #ffffff;
}

header.page .left-line {
  position: absolute;
  width: 40%;
  height: 1px;
  left: 0;
  top: 63px;
  background: #000000;
}

header.page .brand-logo {
  width: 200px;
  margin-top: 4px;
  position: relative;
}

header.page .logo-area {
  padding-top: 0;
}

header.page .logo-area .block {
  width: 20px;
  height: 20px;
}

header.page .nav-wrapper {
  border-bottom: 1px solid #000000;
}

header.page .nav-wrapper ul.main-menu li {
  width: auto;
  height: auto;
}

header.page .nav-wrapper ul.main-menu li a.wline {
  font-size: 16px;
  line-height: 18px;
  padding: 4px 15px;
}

.nav-wrapper .main-menu .wline span {
  display: block;
  height: 18px;
}

header.page .nav-wrapper ul.main-menu {
  position: absolute;
  right: 0;
  bottom: 0;
}

header.page .nav-wrapper ul.main-menu .polyline-end {
  border-bottom: none;
  background-image: url('../../assets/svg/polyline-end.svg');
  width: 30px;
  height: 22px;
  position: absolute;;
  top: 38px;
  right: -25px;
}

.button-collapse-mid {
  display: none;
}


@media only screen and (max-width: 992px) {
  header.page .brand-logo {
    width: 218px;
  }

  .button-collapse-mid {
    display: block;
    position: fixed;
    top: 4px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 6px;
    z-index: 101;
    border-radius: 50%;
    background: rgba(248, 244, 240, .8);
  }
}
