extends ./templates/layout/layout.pug

block styles_and_scripts
  include ./templates/layout/styles_and_scripts.pug

block bottom_scripts
  include ./templates/layout/bottom_scripts.pug

block title
  title CMM prototype 02

block content
  include ./templates/index/header.pug
  include ./templates/index/main.pug
  include ./templates/index/footer.pug
