footer.footer-padding.tan
  .footer-wrapper.row
    .col.m3
      a.brand-logo(href='#')
        img.responsive-img(src='../assets/cmm_img/midea_logo_n80.png')
    .col.m6.footer-list
      .block-label.tan-liter-text INFOS
      .row
        .col.s3
          .list-item
            a(href='#') 關於我們
          .list-item
            a(href='#') 聯絡資訊
        .col.s3
          .list-item
            a(href='#') 專欄作者
          .list-item
            a(href='#') 合作夥伴
        .col.s3
          .list-item
            a(href='#') 廣告刊登
          .list-item
            a(href='#') 人才招募
        .col.s3
          .list-item
            a(href='#') 隱私權聲明
          .list-item
            a(href='#') 版權聲明
    .col.m3
      .block-label.tan-liter-text SOCIAL NETWORK
      .social-links
        a(href='#')
          i.icons.social-facebook facebook
        a(href='#')
          i.icons.social-twitter twitter
        a(href='#')
          i.icons.social-google-plus google-plus
        a(href='#')
          i.icons.social-line line
