//- declaration
mixin main_menu_term(term_data)
  li
    a.wline(href=term_data.link)
      span= term_data.name
      br
      span.font-optima= term_data.eng

//- in use
header.navbar-fixed
  nav.tan-lite.z-depth-0
    .nav-wrapper
      a.brand-logo(href='#')
        img.responsive-img(src='../assets/cmm_img/midea_logo_n64.png')
      a.button-collapse(href='#', data-activates='mobile-demo')
        i.material-icons menu
      ul#nav-mobile.hide-on-med-and-down.main-menu
        li.placeholder

        each category in categories_data
          +main_menu_term(category)

        li
          a(href='#')
            i.material-icons search
      ul.right.hide-on-med-and-down
        li
          a.waves-effect.btn.tan-liter.z-depth-0 登入
