footer.footer-padding.tan
  .footer-list
    .row
      .col.s3
        .list-item
          a(href='#') 關於我們
        .list-item
          a(href='#') 聯絡資訊
      .col.s3
        .list-item
          a(href='#') 專欄作者
        .list-item
          a(href='#') 合作夥伴
      .col.s3
        .list-item
          a(href='#') 廣告刊登
        .list-item
          a(href='#') 人才招募
      .col.s3
        .list-item
          a(href='#') 隱私權聲明
        .list-item
          a(href='#') 版權聲明
    .divider-line
    .social-links
      a(href='#')
        i.icons.social-facebook facebook
      a(href='#')
        i.icons.social-twitter twitter
      a(href='#')
        i.icons.social-google-plus google-plus
      a(href='#')
        i.icons.social-line line
