header.navbar-fixed
  nav.kikyo
    .nav-wrapper
      a.brand-logo(href='#')
        img.responsive-img(src='../assets/cmm_img/midea_logo_w64.png')
      a.button-collapse(href='#', data-activates='mobile-demo')
        i.material-icons menu
      ul#nav-mobile.hide-on-med-and-down.main-menu
        li
          a(href='catagory1.html') 政治新聞
        li
          a(href='catagory2.html') 財經新聞
        li
          a(href='catagory3.html') 專欄評論
        li
          a(href='catagory4.html') 專題報導
        li
          a(href='catagory5.html') 生活品味
        li
          a(href='#')
            i.material-icons search
      ul.right.hide-on-med-and-down
        li
          a.waves-effect.waves-purple.btn.kikyo-lite.z-depth-0 登入
