footer.footer-padding
  .footer-wrapper.row
    .col.s12.m3
      a.brand-logo(href='#')
        img.responsive-img(src='../assets/cmm_img/cmm_logo04.svg')
    .col.s12.m5.infos-list
      .block-label INFOS
      .row
        .col.s3
          .list-item
            a(href='#') 關於我們
          .list-item
            a(href='#') 聯絡資訊
        .col.s3
          .list-item
            a(href='#') 專欄作者
          .list-item
            a(href='#') 合作夥伴
        .col.s3
          .list-item
            a(href='#') 廣告刊登
          .list-item
            a(href='#') 人才招募
        .col.s3
          .list-item
            a(href='#') 隱私權聲明
          .list-item
            a(href='#') 版權聲明
    .col.s12.m4
      .block-label SOCIAL NETWORK
      .social-links
        a(href='#')
          i.icons.social-facebook facebook
        a(href='#')
          i.icons.social-twitter twitter
        a(href='#')
          i.icons.social-google-plus google-plus
        a(href='#')
          i.icons.social-line line
        a(href='#')
          i.icons.social-rss rss
      form.subscribe(action='#')
        input.field(type='email', name='email', placeholder='訂閱電子報')
        input.submit(type='submit', value='Submit')
