link(rel="stylesheet", href="../assets/materialize/materialize.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="../assets/materialize/materialize_adj.js")
